extends /core/views/layout

block added_scripts
  script(async, defer, src="/public/js/pages/trips/trip-edit.js")

block content

  h1 Editer mon trajet
  br
  h3 Non: '#{trip.tripFavRef.name}'

  form.ui.form(id='form-edit-trip' data-id='#{trip.id_trip}')

    .field
      label Nombre de sièges disponibles
      input( name='nb_seats' value='#{trip.nb_seats}' type='number')

    .field
      label Date de départ
      input( name='hours_departure' value='#{trip.hours_departure}' type='datetime-local')

    .field
      label Date d'arrivée
      input( name='hours_arrival' value='#{trip.hours_arrival}' type='datetime-local')


    br
    br
    //- a(href='/trips')
  button.ui.button( onclick="editTripCtrl.put('form-edit-trip')" ) Mettre à jour les informations
